.form_header h2 {
  font-size: 40px;
  font-weight: bold;
}

.col-sm-1, .col-sm-2 {
  display: inline-block;
  text-align: center;
  }

.detail-table {
  width: 800px;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
}


.detail-patient {
  width: 50%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 50%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}


.select-box {
  width: 100px;
}

.evaluation-btn {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #1b9aaa;
  border: #1b9aaa;;
  font-size: 24px;
  color: white;
  padding: 2vh 10vw;
}

.evaluation-btn a{
  text-decoration: none;
}




