* {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
}

.side-bar {
  height: 100vh;
  width: 300px;
  background-color: lightseagreen;
}

.side-bar-header {
  height: 100px;
  padding: 0 20px;
  background-color: rgb(9, 105, 60);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #fafafa;
  text-align: center;
}


.main-header {
    height: 100px;
    width: calc(100vw - 300px);
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    background-color: lightseagreen;
  }

.sub-title {
  font-size: 20px;
}

.menu-btn {
  display: inline-block; 
  background: #1b9aaa;
    width: 200px;
    padding: 0.5em;
    margin-top: 25px;
    border: none;
    border-radius: 4px;
    text-align: center;
}

.menu-btn a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  }

.user-therapist-name {
  color: white;
  font-size: 25px;
  text-align: center;
}

.rooms {
  color: rgb(9, 105, 60);
  font-size: 25px;
  margin-top: 40px;
  text-align: center;
}

.rooms a {
  text-decoration: none;
}

.title {
  writing-mode: vertical-rl;
  font-size: 35px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight:bold;
  float: right;
}

.title-1 {
  position: relative;
  top: 20px;
  right: 200px;
}

.title-2 {
  position: relative;
  top: 60px;
  right: 200px;
}


.maru {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  flex-flow: column; 
  vertical-align: top;
}

.size_normal{
  width: 120px;
  height: 120px;
}

.letter1 {
  font-size: 3em;
  line-height: 1.5em;
}

.letter1-title {
  font-size: 50px;
}


.pink1 {
  background-color:lightseagreen;
  color: white;
  font-weight:bold;
}


.letter2 {
  font-size: 3em;
  line-height: 1.5em;
}

.letter2-title {
  font-size: 50px;
}

.pink2 {
  background-color:lightseagreen;
  color: white;
  font-weight:bold;
}


.main-title-pict {
  display: inline-block;
	margin-top: 100px;
  margin-left: 150px;
  margin-bottom: 0;
}