.detail-table {
  width: 800px;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
}

.patient-edit-btn {
  margin-left: auto;
  margin-right: auto;
}

.patient-destroy {
  margin-left: auto;
  margin-right: auto;
}


.comment-default {
  width: 800px;
}


