<div class="main">
 <div class="contents">
    <div class="success">
      <h3>
        患者情報が無事に登録されました！
      </h3>
    </div>
    <div class="second_pict"><%= image_tag "ninja01_pages-to-jpg-0001.jpg", size: "400x515" %></div>
    <%=link_to "トップへ戻る", root_path, class: :success_btn%>
 </div>
</div>