<div class='wrapper'>
  <div class='side-bar'>
    <div class='side-bar-header'>
      <div class='header-title'>
       SASUKE<div class='sub-title'>作業療法評価アプリ</div>
      </div>
    </div>
    <div class='side-bar-contents'>
      
    </div>
  </div>

  <div class='main-contents'>
   <div class="main-header">
    <div class="main-header-right">
      
    </div>
  </div>
  <div class='main-title'>
  <div class='title'>
   <div class='title-1'>
    <div class="maru size_normal pink1">
       <div class="letter1">作</div>
    </div>
    <span class="letter1-title">業療法士を</span>
    </div>
    <div class='title-2'>
    <div class="maru size_normal pink2">
       <div class="letter2">助</div>
    </div>
    <span class="letter2-title">ける！</span>
    </div>
   </div>
      <div class="main-title-pict">
      <%= image_tag "1519292803.png", size: "600x500" %>
      </div>
  </div>
</div>
</div>
